/* cardstyle.css */
.card{
    width: 200px;
    height: 250px;  /* taller card */
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius:5px;
    box-shadow: 2px 4px 8px black;
    transition:2s;
}
img{
    width: 100%;
    height: 150px;   /* fixed height */
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.desc{
    padding: 5px;
    text-align: center;
}
.card:hover{
     box-shadow: 2px 4px 8px goldenrod;
}
