/* div{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
     /* transition-duration: 1s;   /* time */
     /* transition-delay:1s; */ 
     /* transition:margin-top 2s ease-in 0.2s ;
     margin: 0 auto;
     margin-top: 10px;
}
#inner{
     
    background-color: rgb(255, 0, 0);
    opacity:0.5 ;
}
div:hover{
    background-color: black; 
    border-radius:50%;
    margin-top:400px;
} */ 
section{
    margin-top:100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border:2px solid black;
    margin: 10px auto;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}

/*transform*/
#one{
    transform: rotate(45deg);
}
#two{
    transform: scale(0.5);
}
#three{
    /* transform: translate(100px,100px); */
    transform: translateX(-100px);

}
#four{
    transform: skew(30deg);
}
#five{
    transform: rotate(30deg) translateX(150px);
    box-shadow: 2px 2px 10px black;
    background-image: url("https://rukminim2.flixcart.com/image/704/844/km3s1ow0/poster/a/c/e/medium-shin-chan-cartoon-wall-poster-for-room-with-gloss-original-imagf2uzrnezrzp3.jpeg?q=90&crop=false");
    background-size:cover;
}