 h2{
    color:#dc8819;
    text-decoration:wavy red  underline;
    font-family: arial;
}
p{
    color:white;
     background-color:#000000;
     text-align:right;
     line-height: 1.5;
     letter-spacing: 2px;
     font-size:15px ;
     font-family: cursive;
    
}
button{
    color:white;
    background-color:rgb(0,0,255);
}
h4{
    font-weight:normal;
    text-decoration: line-through;
    font-family:fantasy;

}
h3{
    font-weight: 100;
    text-decoration:  double overline;
    font-family: Impact;
}
a{
    text-decoration: none;
} 
h1{
    font-family: league spartan;
    color:#ffa511;
    text-align:center;
    font-size:55px;
    font-weight:900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
}